# Ignorer les fichiers de log
*.log

# Ignorer les fichiers .exe
*.exe

# Ignorer le répertoire build
/build/

# Ignorer les fichiers temporaires
*.tmp

# Ignorer les .vscode
/.vscode

projet_e4.code-workspace

/c/output
Model Interpreter/20231120 Projet DEVERNE ESIEE - Intelligence artificielle pour les caméras embarquées.pdf
Model Interpreter/20240129 Présentation Model Interpreter.pptx
Model Interpreter/ei-beer-vs.-cans-fomo-image-X.npy
Model Interpreter/ei-beer-vs.-cans-fomo-image-y.json
Model Interpreter/ei-beer-vs.-cans-fomo-object-detection-tensorflow-lite-int8-quantized-model.lite
Model Interpreter/fomo-output-X.npy
Model Interpreter/gen_pics.ipynb
FOMO Retro Planning (1).xlsx
Fonctionnement des fonctions de FOMO.pdf
