# Ignorer les fichiers de log
*.log

# Ignorer les fichiers .exe
*.exe

# Ignorer le répertoire build
/build/

# Ignorer les fichiers temporaires
*.tmp

# Ignorer les .vscode
/.vscode

projet_e4.code-workspace

/c/output
